.smallHeading-container{
  h3{
    background: linear-gradient(120deg, #19CFC4, #27EEA1);
    background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

}